* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  button {
    &:hover {
      background-color: #6c757d;
      border-color: #6c757d;
      transition: all 0.5s;
    }
  }

  .listItem {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content {
    text-align: left;
    .buttonCenter {
      text-align: center !important;
    }
    .contentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      .cardContent {
        text-align: left;
      }
    }
  }
}
